.links li a {
  color: #838994;
  text-decoration: none; /* no underline */
}

.links .active a {
  color: #4c5058;
  text-decoration: none; /* no underline */
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #DDD;
  z-index: 9999;
}

.top-navigation > .content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}

.top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin-top: 25px;
  margin-right: 6em;
  -webkit-font-smoothing: antialiased;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
}

.top-navigation .links .active {
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}

.top-navigation img {
  padding-top: 1em;
  padding-left: 6em;
}

button {
  width: 9.688rem;
  color: white;
  background: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.33;
}

button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}

.introduction {
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
}

.introduction > .content {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: white;
}

h1 {
  font-size: 50px;
  color: white;
}

h3 {
  font-size: 25px;
  color: white;
}

h2 {
  font-size: 44px;
  color: black;
}

.cases{
  text-align: center;
}

.cases .devices {
  width: 19%;
  display: inline-block;
}

.cases h3 {
  font-weight: 400;
  color: black;
}

footer {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 20em;
  text-align: center;
}

footer div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer ul li {
  display: inline;
}
